.container {
	/* width: 666rpx; */
	margin: 48rpx 0 0 0;
}



// 上半页面商品图片的大盒子
.image-container {
	margin: 20rpx auto 0 auto;
	width: 600rpx;
	height: 700rpx;
	/* background-color: #E8E8E8; */
	margin-bottom: 40rpx;
	border: 1rpx solid #000000;
	position: relative;
	border-radius: 2rpx;
	box-shadow: 0rpx 1rpx 2rpx #8b9aae, -1rpx 0 2rpx #8b9aae, 1rpx 0 2rpx #8b9aae;
}

.goods-image {
	width: 480rpx;
	height: 460rpx;
	background-color: #D5D5D5;
	position: absolute;
	top: -20rpx;
	margin: 0 50rpx;
	box-shadow: 0rpx 1rpx 2rpx #8b9aae, -1rpx 0 2rpx #8b9aae, 1rpx 0 2rpx #8b9aae;
	/* left: 25rpx; */
}

image {
	height: 100%;
	width: 100%;
}

.goods-info {
	margin: 460rpx 0rpx 0 0rpx;
	font-size: 24rpx;
	align-items: center;
	padding: 0 30rpx 0 30rpx;
}

.goods-info-name{
	font-size: 30rpx;
	height: 75rpx;
	line-height: 36rpx;
}
.goods-info-sellerName{
	height: 50rpx;
	line-height: 50rpx;
}
.goods-info-num {
	width: 350rpx;
	height: 50rpx;
	margin-right: 20rpx;
}
.goods-info-price {
	display: inline-block;
	width: 150rpx;
	height: 50rpx;
	margin-right: 20rpx;
}
.goods-info-iconfav image{
	float: right;
	width: 50rpx;
	height: 50rpx;
}
.goods-info-iconfav text{
	clear: right;
	float: right;
	font-size: 24rpx;
	line-height: 50rpx;
	height: 50rpx;
}

.goods-name{
	margin: 0 48rpx 0 48rpx;
}

.myAddress{
	margin-top: 20rpx;
	margin-left: 50rpx;
	margin-right: 50rpx;
    color: #0d3254;
}
.defaultAddress-text{
	display: block;
    font-size: 28rpx;
    line-height: 30rpx;
    margin-bottom: 30rpx;
}
.addressInfo{
	width: 640rpx;
	margin-bottom: 50rpx;
	border: 1rpx solid #0d3254;
	border-radius: 20rpx;
    box-shadow: 0rpx 1rpx 2rpx #738eae, -1rpx 0 2rpx #738eae, 1rpx 0 2rpx #738eae;
}
.addressInfo-block{
	width: 90%;
	margin: 0 auto;
	padding-top: 15rpx;
	/* padding-bottom: 5rpx; */
	border-bottom: 1rpx solid #0d3254;
}
.addressInfo-block1{
	display: block;
    position: absolute;
}
.addressInfo-block2{
	display: block;
	padding-left: 80rpx;
}
.addressInfo-text{
	display: block;
	font-size: 24rpx;
	line-height: 32rpx;
	padding: 15rpx 10rpx 15rpx 20rpx;
	white-space: pre-wrap;
}

input{
	min-height:24rpx;
}
.addressInput-text{
	display: block;
	margin: 15rpx 10rpx 28rpx 20rpx;
	padding-left: 15rpx;
	border: 1rpx solid #cae3e8;
	background-color: #e1efff;
	border-radius: 10rpx;
	
	font-size: 24rpx;
	line-height: 30rpx;
	height: 30rpx;
}

.addressDetail-text{
	font-size: 24rpx;
	line-height: 30rpx;
	padding: 10rpx 10rpx 10rpx 20rpx;
}
.addressAlter{
	display: block;
	font-size: 24rpx;
	text-align: center;
	line-height: 80rpx;
}

.addressAdd{
	display: flex;
	justify-content: space-around;
	position: relative;
	font-size: 24rpx;
	text-align: center;
	line-height: 80rpx;
}

.bottom-block {
	position: fixed;
	bottom: 0rpx;
	height: 100rpx;
	width: 100%;
	background-color: #041746;
	z-index: 19;
	color: #FFFFFF;

	font-size: 32rpx;
	line-height: 100rpx;
	display: block;
	text-align: center;
}
