.person-main {
	background-color: #041746;
	/* 白天
    background-color: #b0d4f8;  */
}

.person-top {
	padding-top: 20rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	color: #fff;
}
.user-message{
	height: 50rpx;
	margin-bottom: 20rpx;
}
.user-identity-block{
	display: flex;
	margin-left: 30rpx;
    margin-top: 25rpx;
}
.user-message .user-identity{
	margin-right: 30rpx;
    width: 80rpx;
    height: 42rpx;
    border-radius: 16rpx;
    background-color: #ffffff;
    filter: opacity(80%);
	box-shadow: 0 0 10rpx #FFFFFF;
	
    z-index: 10;
    font-size: 26rpx;
    line-height: 42rpx;
    text-align: center;
	color: #006AD7;
}
.user-message .check-bar{
    display: inline-block;
    width: 18rpx;
    height: 18rpx;
    line-height: 42rpx;
    background-color: #FFA448;
    border-radius: 20rpx;
    margin-top: 13rpx;
    margin-right: 14rpx;
}
.user-message .check-text{
    color: #FFA448;
    font-size: 30rpx;
    line-height: 42rpx;
    text-align: center;
}

.user {
	//display: flex;
	margin-bottom: 40rpx;
}

.user .user-image {
	margin:auto auto;
	width: 170rpx;
	height: 170rpx;
	border-radius: 24rpx;
	border: 1rpx solid #000000;
}

.user .user-info1 {
	margin: 0 auto;
}

.user .user-name {
	display: block;
	font-size: 32rpx;
	text-align: center;
	font-weight: 500;
	line-height: 42rpx;
	padding-top: 28rpx;
	padding-bottom: 28rpx;
}

.user .user-info2 {
	margin: 0 auto;
	padding-left: 200rpx;
	padding-right: 200rpx;
}

.user .user-value {
	display: block;
	text-align: center;
	font-size: 24rpx;
	font-weight: 500;
	line-height: 26rpx;
}

.user .user-tags {
	margin: 0 auto;
	margin-top: 50rpx;
	margin-left: 50rpx;
	margin-right: 50rpx;
	height: 42rpx;
}
.tag-text{
	text-align: center;
	font-size: 24rpx;
	line-height: 26rpx;
}
.tag-item {
	border-radius: 24rpx;
	display: inline-block;
	width: 30%;
	margin-left: 8rpx;
	margin-right: 8rpx;
	background-color: #FFFFFF;
	filter: opacity(50%);

	color: #006AD7;
	text-align: center;
	font-size: 32rpx;
	line-height: 42rpx;
}

.user .user-info .user-customization-block {
	margin-top: 38rpx;
	width: 234rpx;
	height: 70rpx;
	border-radius: 42rpx;
	background-color: #F1B0F8;
	filter: opacity(53%);
	box-shadow: 0 0 10rpx #F1B0F8;
	/* 白天
    background-color: #8bb7f3; */
}

.user .user-customization {
	z-index: 10;
	display: block;
	font-size: 20rpx;
	line-height: 70rpx;
	text-align: center;
}

#UserInDay {
	background-color: #6B9DEF;
	box-shadow: 0 0 10rpx #6B9DEF;
}


.person-body-box {
	background-color: #fff;
	border-top-left-radius: 58rpx;
	border-top-right-radius: 58rpx;
}

.function-body {
	margin: 0 auto;
	width: 700rpx;
	top: 40rpx;
	position: relative;
}


.title{
	display: block;
	height: 50rpx;
	color: #1E6CB5;
	font-size: 28rpx;
	line-height: 50rpx;
    margin-top: 40rpx;
    margin-bottom: 20rpx;
}
.title-sort{
	height: 50rpx;
	width: 110rpx;
	float: right;
	background-color: #D5E3EF;
	border-radius: 10rpx;
	
    color: #4F73A5;
	position: relative;
	/* text-align: center; */
}

/* 弹框 */
.springText{
	font-size: 28rpx;
	padding-left: 18rpx;
	line-height: 50rpx;
}
.springBoxDown{
	line-height: 45rpx;
	font-size: 28rpx;
	position: absolute;
	padding-left: 5rpx;
}
.springBoxUp{
	line-height: 45rpx;
	font-size: 26rpx;
	position: absolute;
	padding-left: 5rpx;
}
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 90;
}

.arrivalNavigation {
	width: 250rpx;
	position: relative;
	left: 500rpx;
	top: 60rpx;
	z-index: 99;
}
.arrivalNavigation .sideNavigation {
	width: 200rpx;
	background-color: #e8f0ff;
    filter: opacity(90%);
	color: #eee;
	border-radius: 10rpx;
}
.sideNavigation .liBottomBorder {
	border: 0.1rpx solid #b6b6b6;
}
.sideNavigation .navigatorStyle {
	height: 85rpx;
	text-align: center;
	line-height: 85rpx;
	font-size: 28rpx;
	color: #4F73A5;
	position: relative;
}
/* 弹框 */


.wander-box {
	display: block;
}

.wander-box .exhibits-around-body {
	position: relative;
	top: 30rpx;
	width: 300rpx;
	height: 300rpx;
	border-radius: 24rpx;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #DEDDDA;
	box-shadow: 5rpx 5rpx 20rpx #cececb;
	margin-bottom: 80rpx;
	margin-left: 25rpx;
	margin-right: 20rpx;
	float: left;
}

.person-bottom {
	clear: left;
	margin: 20rpx 0 40rpx 0;
	text-align: center;
	font-size: 22rpx;
	color: #006AD7;
}



