.container {
	/* width: 666rpx; */
	margin: 48rpx 0 0 0;
}



// 上半页面商品图片的大盒子
.image-container {
	margin: 0 48rpx 0 48rpx;
	height: 596rpx;
	background-color: #E8E8E8;
	margin-bottom: 67rpx;
	border: 1rpx solid #000000;
}

.goods-image {
	margin: 0 auto;
	width: 100%;
	height: 460rpx;
	background-color: #D5D5D5;
}

image {
	height: 100%;
	width: 100%;
}

.goods-info {
	margin: 48rpx 0rpx 0 0rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.goods-info-left {
	height: 64rpx;
	margin-left: 44rpx;
	font-size: 16rpx;
	margin-right: 20rpx;
	color: #8D8D8D;
}
.goods-info-iconfav {
	width: 50rpx;
	height: 50rpx;
	margin-right: 44rpx;

}

.goods-name{
	margin: 0 48rpx 0 48rpx;
}
// 三个蓝色标题的样式
.tab-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

// 模块二：作品名字.标签
.works-tags {
	margin: 0 42rpx 0 42rpx;
	display: flex;
	justify-content: flex-start;
	margin: 20rpx 0;
}

.works-tags-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130rpx;
	height: 38rpx;
	background-color: #B5B5B5;
	border-radius: 16rpx;
	margin-right: 20rpx;
	font-size: 20rpx;
}

.works-intro-p {
	//display: flex;
	width: 100%;
	background-color: #e8e8e8;
	margin-bottom: 20rpx;
}

.works-intro-p view {
	text-indent: 2em;
	font-size: 24rpx;
	line-height: 44rpx;
	padding: 16rpx 27rpx;
}

// 模块三:作者介绍
.author-intro {
	margin: 0 48rpx 40rpx 48rpx;
}

.author-intro-info {
	display: flex;
	justify-content: flex-start;
	margin-top: 20rpx;
}

.author-intro-img {
	height: 108rpx;
	width: 108rpx;
	background-color: #cccccc;
	margin-right: 20rpx;
}

.author-intro-img image {
	height: 100%;
	width: 100%;
}

.author-intro-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 32rpx;
}




.modal-mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 90;
	background: #000000;
	opacity: 0.2;
}

.edit-num {
	position: fixed;
	bottom: 100rpx;
	height: 200rpx;
	width: 100%;
	padding: 30rpx 10rpx 30rpx 10rpx;
	background-color: #FFFFFF;
	z-index: 91;
	color: #041746;

	display: flex;
	font-size: 32rpx;
	display: block;
}

.edit-num-block {
	display: block;
	height: 50rpx;
	font-size: 32rpx;
	line-height: 50rpx;
	margin: 35rpx 0rpx 35rpx 150rpx;
}

.show-price-block {
	display: inline-block;
	height: 50rpx;
	font-size: 32rpx;
	line-height: 50rpx;
	text-align: center;
	margin: 30rpx 0rpx 0rpx 50rpx;
}

.show-price-num {
	overflow: scroll;
	display: inline-block;
	/* height: 50rpx; */
	font-size: 32rpx;
	line-height: 50rpx;
	text-align: center;
	width: 80rpx;
	vertical-align: -25%;
}

.numInput-text {
	display: inline-block;
	vertical-align: -25%;
	background-color: #eeeeee;
	width: 150rpx;
	height: 50rpx;
	margin: 0rpx 20rpx 0rpx 40rpx;
	text-align: center;
	color: #041746 !important;
}

.bottom-block {
	position: fixed;
	bottom: 0rpx;
	height: 100rpx;
	width: 100%;
	background-color: #041746;
	z-index: 19;
	color: #FFFFFF;

	font-size: 32rpx;
	line-height: 100rpx;
	display: block;
	text-align: center;
}
