.arrivalNavigation {
	width: 250rpx;
	position: absolute;
	left: 20rpx;
	top: 50rpx;
	z-index: 99;
}

.arrivalNavigation .sideNavigation {
	width: 248rpx;
	background-color: #e8f0ff;
	color: #eee;
	border-radius: 10rpx;
}

.sideNavigation li {
	height: 85rpx;
	text-align: center;
	line-height: 85rpx;
	font-size: 25rpx;
}

.sideNavigation .liBottomBorder {
	border: 0.1rpx solid #b6b6b6;
}

.sideNavigation .navigatorStyle {
	color: black;
}

.arrivalNavigation .d4 {
	// position: absolute;
	//  left: 140rpx;
	width: 0;
	height: 0;
	margin-left: 150rpx;
	margin-top: -20rpx;
	border-width: 20rpx;
	border-style: solid;
	border-color: transparent #e8f0ff transparent transparent;
	transform: rotate(90deg);
	/*顺时针旋转90°*/

}
